body{
	background:#E9F6CF ;
	font-family: 'Indie Flower', cursive;
}
h1{
	color:#583122;
}

footer{
	background: rgba(73,38,38,0.2);
	height: 180px;
}
.btn{
	font-family: 'Signika Negative', sans-serif;
    padding: 5px 5px;
    border-radius: 30px;
    border: 4px outset #583122;
    background-color: transparent;
    color:#5F5F5F ;
    font-weight: 600;
    margin: 10px 0;
    display: inline-block;
    transition: 0.6s;
    box-shadow: 0px 1px 3px black;
}
.btn:hover{
    transform: scale(1.5);
    letter-spacing: 3px;
    background-color:#E9F6CF ;
    color: white;
}